<!doctype html>
<html>
<head>
    <title>Docflow Config</title>
    <link href="@{'/static/ngCodeGen/css/bootstrap.css'}" rel="stylesheet">
    <link href="@{'/static/ngCodeGen/css/bootstrap-responsive.css'}" rel="stylesheet">
</head>
<body>
<div class="container" style="margin-top: 30px;">
%{ if (codegenExternal) { }%
<form class="form-inline" method="post" action="@{ngCodeGen.DocflowGenerator.setAppPath}">
    <input class="input-xxlarge" type="text" name="appPath" value="${appPath}" required style="margin-bottom: 20px;"><br>
    <select name="targetDb">
        <option value="postgres">Postgres</option>
        <option value="mysql" %{if (targetDb == 'mysql') { out.print 'selected=""' } }%>MySql</option>
        <option value="mssql" %{if (targetDb == 'mssql') { out.print 'selected=""' } }%>MS SQL</option>
    </select>
    <button class="btn" type="submit">Set</button>
</form>
%{ } }%

<div style="background-color: #FFFF88; padding: 12px 0 2px 10px; margin-bottom: 20px">
${result.toHtml().raw()}
</div>

<form method="post" action="@{ngCodeGen.DocflowGenerator.generateModels(appPath, targetDb)}">
    <button class="btn" type="submit">Generate Models</button>
</form>

*{<form method="post" action="@{DocflowLocalization.processMessages(appPath, targetDb)}">}*
    *{<button class="btn" type="submit">Sync conf/messages</button>}*
*{</form}*

<p>
    <a class="label label-info" href="@{ngCodeGen.DocflowRights.rightsByRoles}">Rights by roles</a>
    <a class="label label-info" href="@{ngCodeGen.DocflowRights.rightsByStates}">Rights by states</a>
</p>

<p>

</p>

%{ if (docflow) { }%
<ul>
#{list items:docflow.documents.values(), as:'docType'}
    <li>${docType.name}
        <ul>
            #{list items:docType.entities, as:'entity'}
                <li>
                    #{a @ngCodeGen.DocflowGenerator.entity(entity.name, appPath)}${entity.name}#{/a}
                </li>
            #{/list}
        </ul>
    </li>
#{/list}
</ul>
%{ } }%
</div>

</body>
</html>