<!doctype html>
<html>
<head>
    <title>Docflow Rights by roles</title>
    <link href="@{'/static/ngCodeGen/css/bootstrap.css'}" rel="stylesheet">
    <link href="@{'/static/ngCodeGen/css/bootstrap-responsive.css'}" rel="stylesheet">
    <link href="@{'/static/ngCodeGen/css/style.css'}" rel="stylesheet">
    <script src="http://code.jquery.com/jquery-1.4.2.min.js" type="text/javascript" charset="${_response_encoding}"></script>
    <script src="@{'/static/ngCodeGen/js/bootstrap.js'}" type="text/javascript"></script>
    <script src="@{'/static/ngCodeGen/js/rightsByRolesTables.js'}" type="text/javascript"></script>
</head>
<body>
<header class="navbar-fixed-top">
    <h2>Docflow Rights by Roles</h2>
    <a href="/@docflow" class="btn btn-info pull-right">На начальную страницу</a>
</header>
<div class="container-fluid">
    <div class="row-fluid">

        <div class="span3" id="navparent">
            <ul class="nav nav-list bs-docs-sidenav" data-spy="affix">
            %{ docflowConfig.documents.each { item -> document = item.value }%
                <li><a href="#${document.name}">
                    <i class="icon-chevron-right"></i>
                ${document.name}
                </a></li>
            %{ } }%
            </ul>
        </div>

        <div class="span6 rights-table">


        %{ docflowConfig.documents.each { item ->
            document = item.value;
            if (document.name == '_udt') return }%
            <span class="anchor" id="${document.name}"></span>

            <div>
                <h1>${document.name}</h1>
                <table class="table table-bordered table-striped">
                    <thead>
                    <td>&nbsp;</td>
                    %{ docflowConfig.roles.each { item2 -> role = item2.value }%
                    <td>${role.name}</td>
                    %{ } }%
                    </thead>
                    <tbody>
                    %{ document.fields.each { item3 -> field = item3.value }%
                    <tr>
                        <td>${field.name}</td>
                    %{ docflowConfig.roles.each { item2 -> role = item2.value }%
                        <td>${rights.fieldAccess(field, role)}</td>
                    %{ } }%
                    </tr>

                    %{ } }%
                    %{ document.actions.each { item4 -> action = item4.value }%
                    <tr>
                        <td>${action.name}</td>
                    %{ docflowConfig.roles.each { item2 -> role = item2.value }%
                        <td>${rights.actionAccess(action, role)}</td>
                    %{ } }%
                    </tr>

                    %{ } }%
                    </tbody>
                </table>
            </div>
        %{ } }%

        </div>
    </div>
</div>


</body>
</html>